<div>
  <wj-flex-grid #flex [itemsSource]="dataCollectionView" (initialized)="init()">
    <wj-flex-grid-column
      [header]="'Country'"
      [binding]="'country'"
    ></wj-flex-grid-column>
    <wj-flex-grid-column
      [header]="'Sales'"
      [binding]="'sales'"
      format="n2"
    ></wj-flex-grid-column>
    <wj-flex-grid-column
      [header]="'Expenses'"
      [binding]="'expenses'"
      format="n2"
    ></wj-flex-grid-column>
  </wj-flex-grid>
  <wj-collection-view-navigator
    headerFormat="{currentPage:n0} / {pageCount:n0} ページ"
    [byPage]="true"
    [cv]="dataCollectionView"
  >
  </wj-collection-view-navigator>
</div>
