@use "@angular/material" as mat;

.contents {
  display: flex;
  height: 50vh;
  width: 100%;

  .todo-area {
    width: 50%;
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
  }
  .completed-area {
    width: 50%;
    padding: 10px;
    overflow-y: auto;
  }
  li {
    span {
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .empty {
    text-align: center;
  }
}
.todo-form {
  padding: 10px;

  input {
    height: 30px;
    width: 70%;
    margin-right: 10px;
  }

  button {
    height: 30px;
    width: 50px;
  }
}

.delete-button {
  margin: 5px;
  @include mat.theme(
    (
      color: (
        primary: mat.$red-palette,
      ),
    )
  );
}

.complete-button {
  margin: 5px;
}
