<div>
  <div class="contents">
    <div class="todo-area">
      <p>Todo List</p>
      @for (todo of todos; track todo) {
      <ul>
        <li>
          <span>{{ todo }}</span>
          <button
            mat-mini-fab
            class="complete-button"
            (click)="onClickCompleteButton(todo)"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-mini-fab
            class="delete-button"
            (click)="onClickDeleteButton(todo)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </li>
      </ul>
      }@empty {
      <p class="empty">No todos</p>
      }
    </div>
    <div class="completed-area">
      <p>Completed List</p>
      @for (complatedTodo of completedTodos; track complatedTodo) {
      <li>
        <span>{{ complatedTodo }}</span>
        <button
          mat-mini-fab
          class="delete-button"
          (click)="onClickDeleteCompletedButton(complatedTodo)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </li>
      } @empty {
      <p class="empty">No completed todos</p>
      }
    </div>
  </div>
  <div class="todo-form">
    <p>Todoを追加する</p>
    <input
      type="text"
      class="todo-input"
      placeholder="Add a new todo"
      [(ngModel)]="inputText"
    />
    <button mat-flat-button (click)="onClickAddTodoButton()">Add</button>
  </div>
</div>
