@use "@angular/material" as mat;

.contents {
  display: flex;
  height: 800px;
  background-color: #f5f5f5;
  border: 5px solid #aaa;

  .todo-area {
    height: 90%;
    width: 50%;
    border-right: 1px solid #ccc;
    padding: 10px;

    .scroll-area {
      height: 90%;
    }
  }
  .completed-area {
    height: 90%;
    width: 50%;
    padding: 10px;

    .scroll-area {
      height: 90%;
      overflow-y: auto;
    }
  }
  .empty {
    text-align: center;
  }
}
.todo-form {
  display: flex;
  justify-content: center;
  padding: 10px;

  .form-contents {
    width: 100%;
    text-align: left;

    .form-item {
      display: flex;

      input {
        height: 30px;
        width: 100%;
        margin-right: 10px;
      }

      button {
        height: 30px;
        width: 50px;
      }
    }
  }
}

.is-larger-than-full-hd {
  width: 1920px;
  margin: 0 auto;
}

.is-smaller-than-sd {
  height: 400px;
}

.delete-button {
}

.complete-button {
}
