<div>
  <div class="todo-area">
    @for (todo of todos; track todo) {
    <li>
      <span>{{ todo }}</span>
      <button class="complete-button">Complete</button>
      <button class="delete-button">Delete</button>
    </li>
    }@empty {
    <p>No todos</p>
    }
  </div>
  <div class="todo-form">
    <input
      type="text"
      class="todo-input"
      placeholder="Add a new todo"
      [(ngModel)]="inputText"
    />
    <button class="todo-button" (click)="onClickAddTodoButton()">Add</button>
  </div>
</div>
